#colorPalette {
    /* https://www.canva.com/colors/color-meanings/salmon/ */
    color: #A83832; /* darkest pink/salmon */
    color: #C35047; /*  */
    color: #DE685C; /*  */
    color: #FA8072; /* salmon */
    color: #00BDDA; /* lightest blue */
    color: #00A4C1; /* medium blue */
    color: #008BA9; /* darkest blue */
}

/* body {
    background-color: #FA807240;
}

#titleBar {
    position: absolute;
    background-color: #DE685CCC;
    left: 0px;
    right: 0px;
    top: 0px;
}

#heroImage {
    background-color: #00BDDA;
    width: 100%;
    height: auto;
}

#mainText {
    background-color: #008BA9;
    width: 95%;
    height: auto;
    margin: 1% auto 1% auto;
}

.salmonLists {
    background-color: #DE685C90;
    width: 12.5%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
} */


/* Below is for the NEWindex.html */



body {
    text-align: center;
    background-color: #A83832;
}

#indexContainer {
    display: inline-block;
    width: 1440px;
    height: 1320px;
    padding-top: 40px;
}

#heroImage {
    float: left;
    margin-left: 40px;
    width: 360px;
    height: 1240px;
}

#iconBar {
    float: right;
    text-align: center;
    background-color: #008BA9;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 960px;
    height: 100px;
}

.icon {
    float: right;
    margin: 20px 20px;
    width: 60px;
    height: 60px;
}

#iconBanner {
    float: left;
    margin: 20px 20px;
    font-size: 60px;
    color: white;
}

#indexFeed {
    float: left;
    margin-right: 40px;
    text-align: center;
    width: 960px;
}

.feedBox {
    display: inline-block;
    background-color: #008BA9;
    margin: 20px 40px;
    width: 960px;
    height: 340px;
}

.feedImage {
    float: right;
    margin: 20px 20px 20px auto;
    height: 300px;
}

.feedText {
    float: left;
    margin: 20px auto 20px 20px;
    background-color: gray;
    color: white;
    height: 300px;
}

.feedBoxSmall {
    width: 300px;
}

.feedBoxMedium {
    width: 450px;
}

.feedBoxLarge {
    width: 600px;
}

.feedText * {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 40px;
    line-height: 0px;
}

/* end NEWindex.html */
