/* 
Color Palette:
    https://www.canva.com/colors/color-meanings/salmon/
    #A83832 #C35047 #DE685C #FA8072 #00BDDA #00A4C1 #008BA9 (l-r, more pink > salmon > more blue)
*/

body {
    background-color: #FA807240;
}

#titleBar {
    position: absolute;
    background-color: #DE685CCC;
    left: 0px;
    right: 0px;
    top: 0px;
}

#heroImage {
    background-color: #00BDDA;
    width: 100%;
    height: auto;
}

#mainText {
    background-color: #008BA9;
    width: 95%;
    height: auto;
    margin: 1% auto 1% auto;
}

.salmonLists {
    /* background-color: #00BDDAAA; */
    background-color: #DE685C90;
    width: 12.5%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}


/* Below is for the NEWindex.html */

.indexSections{
    display: flex;
    width: 900px;
    height: 30%;
}

.indexBig{
    float: left;
    height: 300px;
    width: 600px;
}

.indexSmall{
    float: left;
    height: 300px;
    width: 300px;
}

/* end NEWindex.html */
